In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
df = pd.read_csv("latest_calls.csv")
df.time = pd.to_datetime(df.time)

In [7]:
df.sort_values(by="time", inplace=True)

In [8]:
df.head()

,Unnamed: 0,x,y,blkaddr,offense,time
11,11,-122.256304,37.863443,2600 PARKER ST,ROBBERY,2019-04-20 00:02:00
15,15,-122.262993,37.864535,DWIGHT WY & ELLSWORTH ST,ROBBERY,2019-04-20 00:25:00
14,14,-122.281929,37.881687,MONTEREY AV & HOPKINS ST,ROBBERY,2019-04-20 07:40:00
9,9,-122.311155,37.865172,UNIVERSITY AV & MARINA BL,VEHICLE STOLEN,2019-04-20 08:35:00
2,2,-122.259260,37.859528,TELEGRAPH AV & STUART ST,VANDALISM,2019-04-20 08:36:00

In [9]:
# df[df["offense"]=="ROBBERY"]
#find the time between crimes within a given radius
def distances(x1, y1, x2s, y2s):
    return np.sqrt(np.power((x2s-x1), 2)+np.power((y2s-y1),2))
# for row in df.iterrows:
#     #find crimes in the radius:
#     in_radius = df[distance(row.x, row.y, df.x, df.y) < .03]

In [15]:
within2600parker = df[distances(df.iloc[1].x, df.iloc[1].y, df.x, df.y) < .003]

In [16]:
within2600parker.time.diff().mean()

Timedelta('1 days 18:09:21.386138')

In [11]:
rw2p = within2600parker[within2600parker.offense=="ROBBERY"]

In [12]:
rw2p.time.diff().mean()

Timedelta('23 days 11:18:25.714285')

In [99]:
rw2p

,Unnamed: 0,x,y,blkaddr,offense,time
11,11,-122.256304,37.863443,2600 PARKER ST,ROBBERY,2019-04-20 00:02:00
106,109,-122.255235,37.865535,2500 BENVENUE AV,ROBBERY,2019-04-24 22:15:00
731,759,-122.258577,37.864827,2500 TELEGRAPH AVE,ROBBERY,2019-05-20 21:49:00
1251,1297,-122.256180,37.865420,2600 DWIGHT WY,ROBBERY,2019-06-11 22:20:00
1834,1904,-122.258577,37.864827,2500 TELEGRAPH AV,ROBBERY,2019-07-04 19:00:00
1939,2019,-122.258577,37.864827,2500 TELEGRAPH AV,ROBBERY,2019-07-09 11:51:00
2263,2355,-122.257622,37.863369,REGENT STREET & PARKER ST,ROBBERY,2019-07-21 21:58:00
2636,2741,-122.258656,37.863272,TELEGRAPH AV & PARKER ST,ROBBERY,2019-08-03 00:00:00
2870,2982,-122.258616,37.864173,BLAKE STREET & TELEGRAPH AV,ROBBERY,2019-08-11 02:23:00
3002,3114,-122.258872,37.862321,TELEGRAPH AV & CARLETON ST,ROBBERY,2019-08-15 00:20:00
3005,3117,-122.257452,37.861573,DERBY STREET & REGENT ST,ROBBERY,2019-08-15 23:30:00
3120,3239,-122.255235,37.865535,DWIGHT WY & BENVENUE AV,ROBBERY,2019-08-19 21:50:00
3264,3389,-122.255895,37.860766,2700 HILLEGASS AV,ROBBERY,2019-08-25 00:11:00
3547,3680,-122.258331,37.865134,2500 DWIGHT WY,ROBBERY,2019-09-04 22:00:00
3804,3950,-122.253693,37.863598,PARKER STREET & COLLEGE AV,ROBBERY,2019-09-12 20:57:00
4162,4331,-122.255895,37.860766,2700 HILLEGASS AVE,ROBBERY,2019-09-25 23:15:00
4230,4401,-122.256180,37.865420,2600 DWIGHT WAY,ROBBERY,2019-09-27 23:30:00

In [ ]:
def generate_scores(t):
    intersections =  [(37.8, -122.2), (37.7, -122.1)]
    for i in intersections:
        scores = []
        within = df[distances(i.x, i.y, df.x, df.y) < .003]
        for o in offense_type:
            within_o = within[within.offense=="ROBBERY"]
            period_o = within_o.time.diff().mean()
            scores.append(period_o)

In [107]:
within2600parker = df[distances(df.iloc[1].x, df.iloc[1].y, df.x, df.y) < .003]

In [108]:
within2600parker.time.diff().mean()

Timedelta('1 days 18:09:21.386138')

In [ ]:
#what is the time between robberies in a given radius?
def distances(x1, y1, x2s, y2s):
    return np.sqrt(np.power((x2s-x1), 2)+np.power((y2s-y1),2))
within2600parker = df[distances(df.iloc[1].x, df.iloc[1].y, df.x, df.y) < .003]
rw2p = within2600parker[within2600parker.offense=="ROBBERY"]
rw2p.time.diff().mean()

In [114]:
#what are the counts of crimes in a given radius?
def distances(x1, y1, x2s, y2s):
    return np.sqrt(np.power((x2s-x1), 2)+np.power((y2s-y1),2))
within2600parker = df[distances(df.iloc[0].x, df.iloc[0].y, df.x, df.y) < .003]
gb = within2600parker.groupby("offense")
gb.count()

                          Unnamed: 0   x   y  blkaddr  time
offense
2ND RESPONSE                       1   1   1        1     1
ALCOHOL OFFENSE                    1   1   1        1     1
ASSAULT/BATTERY FEL.               3   3   3        3     3
ASSAULT/BATTERY MISD.              6   6   6        6     6
BURGLARY AUTO                     10  10  10       10    10
BURGLARY COMMERCIAL                2   2   2        2     2
BURGLARY RESIDENTIAL              11  11  11       11    11
DISTURBANCE                       10  10  10       10    10
DISTURBANCE - NOISE                1   1   1        1     1
DOMESTIC VIOLENCE                  2   2   2        2     2
FRAUD/FORGERY                      3   3   3        3     3
GUN/WEAPON                         2   2   2        2     2
IDENTITY THEFT                     1   1   1        1     1
MISSING ADULT                      3   3   3        3     3
MUNICIPAL CODE                     1   1   1        1     1
NARCOTICS                          5   5   5        5     5
ROBBERY                           17  17  17       17    17
SEXUAL ASSAULT FEL.                3   3   3        3     3
SEXUAL ASSAULT MISD.               1   1   1        1     1
THEFT FELONY (OVER $950)           3   3   3        3     3
THEFT FROM PERSON                  1   1   1        1     1
THEFT MISD. (UNDER $950)          29  29  29       29    29
VANDALISM                          5   5   5        5     5
VEHICLE STOLEN                     3   3   3        3     3

In [3]:
from haversine import haversine

In [11]:
haversine((37.865470, -122.263210), (37.864560, -122.263017))

0.10259608415325525

In [ ]:
def distance_weight(p1, p2):
    #d = haversine(p1, p2)
    #return f(d) from our desmos function

In [ ]:
def distance_weight(p1, p2s):
    #d = haversine(p1, p2)
    #return f(d) from our desmos function