# Getting the Data

### Dependencies; uncomment the lines below if you haven't installed these packages

In [5]:
#!pip install pandas
#!pip install sodapy 

import pandas as pd 
from sodapy import Socrata
client = Socrata("data.cityofberkeley.info",
                  'INSERT APP TOKEN ID',            #refer to SLACK 
                  username="INSERT USER ID",        #refer to SLACK 
                  password="INSERT PASSWORD")       #refer to SLACK 
#arrests = pd.DataFrame.from_records(client.get('xi7q-nji6'))
#inquiries = pd.DataFrame.from_records(client.get('bscu-qpbu'))
calls = pd.DataFrame.from_records(client.get('k2nh-s5h5'))
stops = pd.DataFrame.from_records(client.get('6e9j-pj9p'))
#jail = pd.DataFrame.from_records(client.get('7ykt-c32j'))

## Arrests Dataset

In [6]:
arrests.head() #not very useful

,age,arrest_number,arrest_type,case_number,date_and_time,date_of_birth,eyes,hair,height,race,sex,statute,statute_description,statute_type,subject,weight
0,56,25944,COURT FILED (WARRANT),NaN,2019-09-30T18:33:00.000,06/21/1963,HAZ,BRO,5 Ft. 10 In.,White,Male,Warr - BPD (M);,Misdemeanor Warrant;,PC;,Marcus Ramon Peppard IV,160
1,35,25943,COURT FILED (WARRANT),NaN,2019-09-30T06:58:00.000,07/08/1984,BRO,BRO,5 Ft. 9 In.,White,Male,Warr - Out (M);,Outside Warrant Misdemeanor;,PC;,ERIC JOHN MEIER,140
2,21,25886,COURT FILED (WARRANT),NaN,2019-09-21T20:52:00.000,07/14/1998,BRO,BLK,6 Ft. 0 In.,Other,Male,Warr - Out (F);,Outside Warrant Felony;,PC;,Avis LAMAR Ahmed,130
3,68,25888,COURT FILED (WARRANT),NaN,2019-09-22T21:00:00.000,08/07/1951,BRO,GRY,6 Ft. 0 In.,Black,Male,Warr - Out (F);,Outside Warrant Felony;,PC;,William Mark GRUNDY,170
4,43,25945,ON-VIEW BY CITIZEN,2019-00055473,2019-09-30T19:52:00.000,06/20/1976,BLU,BLN,5 Ft. 11 In.,White,Male,484 (A); 466;,Petty Theft; Possess burglary tools;,PC;,MICHAEL Scott VICE,165

### The arrests dataset contains no information on where the person was arrested; this makes it very difficult for us to use in a mapping software.

In [7]:
inquiries.head() #not very useful

,apn,case_id,case_status,city,date_closed,date_opened,neighborhood,object_type,request_category,request_detail,request_subcategory,state,street_address
0,NaN,121000169009,Closed,Berkeley,2014-07-02T15:00:37.000,2013-11-19T09:55:46.000,Berkeley,Individual,General Questions/information,Miscellaneous Service Request,Miscellaneous,CA,NaN
1,NaN,121000300259,Closed,Berkeley,2016-06-17T13:31:20.000,2016-06-06T13:33:48.000,Berkeley,Individual,Refuse and Recycling,Payment Collection - Refuse and Recycling,Account Services and Billing,CA,NaN
2,NaN,121000089637,Closed,Berkeley,2012-04-10T16:12:09.000,2012-04-10T16:03:01.000,Berkeley,Unknown,General Questions/information,Call Transfer - Human Resources,Front Office,CA,NaN
3,NaN,121000181403,Closed,Berkeley,2014-02-24T15:38:16.000,2014-02-23T18:18:36.000,Berkeley,Individual,General Questions/information,Miscellaneous Internet Request,Miscellaneous,CA,NaN
4,NaN,121000105282,Closed,Berkeley,2013-06-19T09:32:11.000,2012-08-14T10:10:50.000,Berkeley,Individual,Other Account Services and Billing,Payment Collection - Marina,Marina,CA,NaN

In [8]:
calls.head()

,:@computed_region_3ini_iehf,:@computed_region_5bih_7r3y,:@computed_region_5s6d_2f32,:@computed_region_b3wi_w8ix,:@computed_region_fhmw_rucx,:@computed_region_u3y2_d2ws,:@computed_region_x3q3_gi3e,blkaddr,block_location,caseno,city,cvdow,cvlegend,eventdt,eventtm,indbdate,offense,state
0,14,32,1496,1,412,1,1,2300 SHATTUCK AV,"{'latitude': '37.867176', 'longitude': '-122.2...",19018652,Berkeley,6,DRUG VIOLATION,2019-04-06T00:00:00.000,10:00,2019-10-04T10:07:27.000,NARCOTICS,CA
1,10,32,1496,1,861,1,1,2100 MARTIN LUTHER KING JR WY,"{'latitude': '37.869688', 'longitude': '-122.2...",19018238,Berkeley,6,LIQUOR LAW VIOLATION,2019-04-06T00:00:00.000,02:40,2019-10-04T10:07:27.000,ALCOHOL OFFENSE,CA
2,12,18,1496,3,1483,3,2,2500 DURANT AV,"{'latitude': '37.867852', 'longitude': '-122.2...",19018408,Berkeley,6,DRUG VIOLATION,2019-04-06T00:00:00.000,22:17,2019-10-04T10:07:27.000,NARCOTICS,CA
3,4,16,1494,8,1293,8,8,2600 ACTON ST,"{'latitude': '37.860264', 'longitude': '-122.2...",19019358,Berkeley,6,BURGLARY - RESIDENTIAL,2019-04-06T00:00:00.000,08:00,2019-10-04T10:07:31.000,BURGLARY RESIDENTIAL,CA
4,10,32,1496,1,861,1,1,2100 MARTIN LUTHER KING JR. WAY,"{'latitude': '37.869688', 'longitude': '-122.2...",19018351,Berkeley,6,DISORDERLY CONDUCT,2019-04-06T00:00:00.000,17:00,2019-10-04T10:07:27.000,DISTURBANCE,CA

In [9]:
calls.columns

Index([':@computed_region_3ini_iehf', ':@computed_region_5bih_7r3y',
       ':@computed_region_5s6d_2f32', ':@computed_region_b3wi_w8ix',
       ':@computed_region_fhmw_rucx', ':@computed_region_u3y2_d2ws',
       ':@computed_region_x3q3_gi3e', 'blkaddr', 'block_location', 'caseno',
       'city', 'cvdow', 'cvlegend', 'eventdt', 'eventtm', 'indbdate',
       'offense', 'state'],
      dtype='object')

In [10]:
stops.columns

Index([':@computed_region_5s6d_2f32', 'call_date_time', 'dispositions',
       'incident_number', 'incident_type', 'location', 'location_1_address',
       'location_1_city', 'location_1_state'],
      dtype='object')

In [11]:
stops.head()

,:@computed_region_5s6d_2f32,call_date_time,dispositions,incident_number,incident_type,location,location_1_address,location_1_city,location_1_state
0,NaN,2015-01-26T00:10:00.000,M,2015-00004825,T,SAN PABLO AVE / MARIN AVE,SAN PABLO AVE / MARIN AVE,Albany,CA
1,NaN,2015-01-26T00:50:00.000,M,2015-00004829,T,SAN PABLO AVE / CHANNING WAY,SAN PABLO AVE / CHANNING WAY,Berkeley,CA
2,NaN,2015-01-26T01:03:00.000,M,2015-00004831,T,UNIVERSITY AVE / NINTH ST,UNIVERSITY AVE / NINTH ST,Berkeley,CA
3,NaN,2015-01-26T07:16:00.000,BM4ICN,2015-00004848,1194,2000 BLOCK BERKELEY WAY,2000 BLOCK BERKELEY WAY,Berkeley,CA
4,NaN,2015-01-26T07:43:00.000,BM4ICN,2015-00004849,1194,1700 BLOCK SAN PABLO AVE,1700 BLOCK SAN PABLO AVE,Berkeley,CA

In [12]:
jail.head() #not very useful

,age,arrest_date_and_time,booking_agency,booking_date_and_time,booking_number,case_number,date_of_birth,disposition,eyes,hair,height,occupation,race,sex,statute,statute_description,statute_type,subject,weight
0,41,2019-10-02T22:59:00.000,CA0010300,2019-10-02T23:39:59.000,2019-00002650,2019-00055891,1978-09-06T00:00:00.000,SANTA RITA JAIL,BRO,BLD,6 Ft. 4 In.,NaN,Black,Male,11364 (A); 11377 (A); 466; 1203.2 - M;,Possess narcotics paraphernalia; Possession of...,HS; PC;,Janae Aaron Bell,240
1,57,2019-10-02T21:40:00.000,CA0019700,2019-10-02T22:02:03.000,2019-00002649,2019-00002762,1961-11-07T00:00:00.000,SANTA RITA JAIL,BLU,BLN,5 Ft. 11 In.,UNEMPLOYED,White,Male,3056;,Violation of Parole;,PC;,STEVEN MICHAEL DOUGLAS,170
2,46,2019-10-02T17:16:00.000,CA0010300,2019-10-02T18:46:22.000,2019-00002648,2019-00055837,1973-06-27T00:00:00.000,NaN,BLU,BLN,6 Ft. 0 In.,NaN,White,Male,459;,Burglary;,PC;,Christopher Andrew Lerch,275
3,28,2019-10-02T16:22:00.000,CA0010300,2019-10-02T16:46:41.000,2019-00002647,2019-00055811,1991-09-23T00:00:00.000,CITE-JAIL,BLK,BRO,6 Ft. 1 In.,NaN,Black,Male,11377 (A); 11364 (A);,Possession of controlled substances; Possess n...,HS;,Curtis Roshawn Phillips,260
4,61,2019-10-02T10:32:00.000,CA0010300,2019-10-02T11:22:21.000,2019-00002646,2019-00055759,1958-04-20T00:00:00.000,CITE-JAIL,BRO,GRY,6 Ft. 2 In.,NaN,White,Male,602 (M);,TRESPASS:OCCUPY PROPERTY WITHOUT CONSENT;,PC;,RANDALL MERLE SIMPSON,175

### The jail dataset contains no information on where the person was arrested; this makes it very difficult for us to use in a mapping software

# The datasets which we can actually use are: calls, stops