# We can use the Utility API to get data from calls and stops

### Dependencies; uncomment the lines below if you haven't installed these packages

In [11]:
from utils import load_calls, load_stops 
import numpy as np
import pandas as pd
import requests
import regex as re

In [3]:
calls = load_calls() #we will draw the latest version of a cleaned version of calls
calls.head()

NameError: name 'load_calls' is not defined

In [12]:
stops = load_stops()
#

In [15]:
stops.location.iloc[300:325]

300              BYRON ST / ADDISON ST
301              NINTH ST / HEARST AVE
302         DURANT AVE / TELEGRAPH AVE
303       M L KING JR WAY / DWIGHT WAY
304         CURTIS ST / UNIVERSITY AVE
305           PARKER ST / BENVENUE AVE
306       CHANNING WAY / TELEGRAPH AVE
307         COLLEGE AVE / CHANNING WAY
308               TENTH ST / PARKER ST
309         SACRAMENTO ST / WOOLSEY ST
310       WOOLSEY ST / M L KING JR WAY
311         CHANNING WAY / COLLEGE AVE
312            2500 BLOCK CHANNING WAY
313     UNIVERSITY AVE / SAN PABLO AVE
314       UNIVERSITY AVE / CHESTNUT ST
315           TELEGRAPH AVE / DERBY ST
316              DWIGHT WAY / BONAR ST
317           BOWDITCH ST / DURANT AVE
318             HARPER ST / WOOLSEY ST
319     UNIVERSITY AVE / SAN PABLO AVE
320          TELEGRAPH AVE / STUART ST
321         CHANNING WAY / COLLEGE AVE
322    37.8609962420001~-122.256143699
323             NINTH ST / CARLETON ST
324    37.8609962420001~-122.256143699
Name: location, dtype: object

In [16]:
stops[~(stops['latitude'].isnull() | stops['longitude'].isnull())]

,:@computed_region_5s6d_2f32,call_date_time,dispositions,incident_number,incident_type,latitude,location,location_1_address,location_1_city,location_1_state,longitude
24801,NaN,2017-01-01T00:46:44.000,AR; HF3TAS; P;,2017-00000006,T,37.863444875,HILLEGASS AVE / PARKER ST,NaN,NaN,NaN,-122.256317296
24802,NaN,2017-01-01T00:49:45.000,OF2ICN;,2017-00000007,1194,37.8693028530001,"37.8693028530001000, -122.2722340210000000",NaN,NaN,NaN,-122.272234021
24803,NaN,2017-01-01T00:57:57.000,WF3TCN;,2017-00000008,T,37.8796441270001,ROSE ST / CALIFORNIA ST,NaN,NaN,NaN,-122.280965982
24804,NaN,2017-01-01T01:05:05.000,WF4ICN;,2017-00000010,1194,37.8693028530001,"37.8693028530001000, -122.2722340210000000",NaN,NaN,NaN,-122.272234021
24805,NaN,2017-01-01T01:58:14.000,WM2TWN;,2017-00000018,T,37.8752049780001,SAN PABLO AVE / CEDAR ST,NaN,NaN,NaN,-122.294094941
24806,NaN,2017-01-01T02:10:23.000,IN;,2017-00000021,1196,37.8679950200001,SIXTH ST / UNIVERSITY AVE,NaN,NaN,NaN,-122.297664755
24807,NaN,2017-01-01T02:22:14.000,OM3TWN;,2017-00000027,T,37.8512356270001,COLLEGE AVE / ALCATRAZ AVE,NaN,NaN,NaN,-122.252470647
24808,NaN,2017-01-01T02:23:55.000,HM2TWS;,2017-00000028,T,37.868137028,BANCROFT WAY / ELLSWORTH ST,NaN,NaN,NaN,-122.263732418
24809,NaN,2017-01-01T02:28:19.000,P;,2017-00000029,1194B,37.8703037340001,SHATTUCK AVE / CENTER ST,NaN,NaN,NaN,-122.268035503
24810,NaN,2017-01-01T02:33:48.000,BM3TWN;,2017-00000030,T,37.8811372590001,GILMAN ST / NORTHSIDE AVE,NaN,NaN,NaN,-122.288761173
24811,NaN,2017-01-01T02:36:01.000,BF3TWN;,2017-00000031,T,37.864616562,SAN PABLO AVE / BANCROFT WAY,NaN,NaN,NaN,-122.290672071
24812,NaN,2017-01-01T02:41:51.000,AR; HM2TAS; P;,2017-00000032,T,37.8690965960001,SAN PABLO AVE / UNIVERSITY AVE,NaN,NaN,NaN,-122.292119433
24813,NaN,2017-01-01T02:59:33.000,HF3TWN;,2017-00000034,T,37.8556651070001,KING ST / RUSSELL ST,NaN,NaN,NaN,-122.274417863
24814,NaN,2017-01-01T03:16:58.000,IN;,2017-00000036,T,37.8667099250001,SIXTH ST / ADDISON ST,NaN,NaN,NaN,-122.29724868
24815,NaN,2017-01-01T03:20:05.000,WF3TWN;,2017-00000037,T,37.852154468,ASHBY AVE / SAN PABLO AVE,NaN,NaN,NaN,-122.286676764
24817,NaN,2017-01-01T03:49:04.000,OM3TAS; P;,2017-00000040,T,37.8619663980001,80 BLOCK BOLIVAR DR,NaN,NaN,NaN,-122.301146607
24818,NaN,2017-01-01T14:46:13.000,WM4RWN;,2017-00000108,1194,37.8723895110001,1900 BLOCK SHATTUCK AVE,NaN,NaN,NaN,-122.268727725
24819,NaN,2017-01-01T14:50:32.000,BM3RAS; P;,2017-00000109,1194,37.8732554440001,BERKELEY WAY / WALNUT ST,NaN,NaN,NaN,-122.267052461
24820,NaN,2017-01-01T15:33:24.000,BM4ICS;,2017-00000118,1194,37.8690965960001,SAN PABLO AVE / UNIVERSITY AVE,NaN,NaN,NaN,-122.292119433
24821,NaN,2017-01-01T16:54:55.000,WM4TWN;,2017-00000126,1196,37.871316249447,1700 BLOCK SECOND ST,NaN,NaN,NaN,-122.303580260755
24822,NaN,2017-01-01T17:35:12.000,WM4TWS;,2017-00000128,1194,37.8818025360001,HARRISON ST / NINTH ST,NaN,NaN,NaN,-122.298667948
24823,NaN,2017-01-01T18:34:09.000,HM2TCN; M;,2017-00000134,T,37.8690965960001,UNIVERSITY AVE / SAN PABLO AVE,NaN,NaN,NaN,-122.292119433
24824,NaN,2017-01-01T19:23:16.000,BF3TWN;,2017-00000140,T,37.8709746060001,UNIVERSITY AVE / MCGEE AVE,NaN,NaN,NaN,-122.277502418
24825,NaN,2017-01-01T19:45:27.000,M;,2017-00000144,1196,37.8684139590001,SECOND ST / HEARST AVE,NaN,NaN,NaN,-122.302541097
24826,NaN,2017-01-01T19:47:49.000,WM2KAS; P;,2017-00000145,1194B,37.8664685790001,FIFTH ST / ADDISON ST,NaN,NaN,NaN,-122.298396631
24827,NaN,2017-01-01T19:52:38.000,BF3TWN;,2017-00000146,T,37.866918028,ADDISON ST / SEVENTH ST,NaN,NaN,NaN,-122.296209053
24828,NaN,2017-01-01T20:05:16.000,M;,2017-00000149,1196,37.8678090440001,TELEGRAPH AVE / DURANT AVE,NaN,NaN,NaN,-122.258975986
24829,NaN,2017-01-01T20:08:58.000,HF3TWN;,2017-00000150,1196,37.853787976,BURNETT ST / PARK ST,NaN,NaN,NaN,-122.283054382
24830,NaN,2017-01-01T20:13:51.000,HM2TWN;,2017-00000151,T,37.8472056860001,ADELINE ST / M L KING JR WAY,NaN,NaN,NaN,-122.271674763
24831,NaN,2017-01-01T20:18:29.000,BF2TWN;,2017-00000152,T,37.8587127930001,SACRAMENTO ST / DERBY ST,NaN,NaN,NaN,-122.280155181
...,...,...,...,...,...,...,...,...,...,...,...
55031,NaN,2019-07-31T22:50:32.000,WM4TCN;,2019-00041972,T,37.856185946,TELEGRAPH AV / ASHBY AV,NaN,NaN,NaN,-122.259673901
55032,NaN,2019-07-31T23:40:30.000,WF4TWN;,2019-00041980,T,37.849052061,DOVER ST / ALCATRAZ AV,NaN,NaN,NaN,-122.269075797
55033,NaN,2019-07-31T23:49:57.000,BF2TWN;,2019-00041981,T,37.846059968,MARTIN LUTHER KING JR WY / 61ST ST,NaN,NaN,NaN,-122.270871491
55034,NaN,2019-07-22T09:19:08.000,NaN,NaN,1194,37.85745467,STUART ST / MC GEE AV,NaN,NaN,NaN,-122.275420299
55035,NaN,2019-05-10T22:17:20.000,NaN,NaN,1194,37.856020981,SACRAMENTO ST / OREGON ST,NaN,NaN,NaN,-122.279605579
55036,NaN,2019-04-23T14:28:12.000,NaN,NaN,1194,37.875815972,LINCOLN ST / SACRAMENTO ST,NaN,NaN,NaN,-122.282546069
55037,NaN,2019-01-16T09:48:28.000,NaN,NaN,1194,37.870961689,1700 BLOCK UNIVERSITY AVE,NaN,NaN,NaN,-122.275428939
55038,NaN,2019-01-09T23:43:01.000,M;,NaN,1194,37.874522037,MC GEE AV / FRANCISCO ST,NaN,NaN,NaN,-122.277914889
55039,NaN,2019-03-29T12:13:53.000,NaN,NaN,1196,37.869070641,2300 BLOCK WARRING ST,NaN,NaN,NaN,-122.25123282
55049,NaN,2017-08-30T10:08:12.000,NaN,NaN,T,37.8539016620001,ASHBY AVE / KING ST,NaN,NaN,NaN,-122.274235379
55055,NaN,2018-03-17T01:59:54.000,NaN,NaN,1194,37.8678090440001,DURANT AVE / TELEGRAPH AVE,NaN,NaN,NaN,-122.258975986
55056,NaN,2018-01-13T14:17:37.000,NaN,NaN,1194,37.866686783,DURANT AVE / SHATTUCK AVE,NaN,NaN,NaN,-122.267677314
55057,NaN,2017-05-29T08:01:37.000,NaN,NaN,1194,37.870166973,DELAWARE ST / FOURTH ST,NaN,NaN,NaN,-122.300695578
55058,NaN,2018-03-30T06:59:56.000,NaN,NaN,1194,37.87111242,CHESTNUT ST / HEARST AVE,NaN,NaN,NaN,-122.288200634
55061,NaN,2018-04-22T21:17:39.000,NaN,NaN,T,37.872098066,FIFTH ST / VIRGINIA ST,NaN,NaN,NaN,-122.300203304
55062,NaN,2017-08-29T07:44:21.000,M;,NaN,T,37.8625570340001,DERBY ST / BELROSE AVE,NaN,NaN,NaN,-122.24594567
55064,NaN,2018-01-17T12:41:10.000,NaN,NaN,1194,37.837844988,SAN PABLO AVE / 54TH ST,NaN,NaN,NaN,-122.282127236
55065,NaN,2018-02-22T03:27:36.000,OM2TWN;,NaN,T,37.890613387,KEY ROUTE BLVD / SOLANO AVE,NaN,NaN,NaN,-122.292852766
55068,NaN,2018-04-20T00:07:05.000,M;,NaN,T,37.873600186,MILVIA ST / HEARST AVE,NaN,NaN,NaN,-122.270900071
55069,NaN,2018-02-21T10:36:05.000,NaN,NaN,1194,37.871854446,MILVIA ST / UNIVERSITY AVE,NaN,NaN,NaN,-122.270671937
55071,NaN,2017-08-29T11:00:15.000,NaN,NaN,1194B,37.8641266390001,PARKER ST / WARRING ST,NaN,NaN,NaN,-122.250268451
55073,NaN,2017-10-10T15:27:27.000,M;,NaN,T,37.852226312,SEVENTH ST / ANTHONY ST,NaN,NaN,NaN,-122.291495443
55075,NaN,2017-07-13T14:46:48.000,NaN,NaN,1194,37.8632583880001,TELEGRAPH AVE / PARKER ST,NaN,NaN,NaN,-122.258694858
55076,NaN,2017-05-30T15:30:06.000,M;,NaN,T,37.855974899,TENTH ST / GRAYSON ST,NaN,NaN,NaN,-122.28914878
55077,NaN,2017-06-23T16:26:09.000,NaN,NaN,1194,37.8661036188751,"37.8661036188751000, -122.3056881350310000",NaN,NaN,NaN,-122.305688135031
55078,NaN,2017-12-09T13:47:33.000,NaN,NaN,1194,37.8554438100001,WEBSTER ST / COLBY ST,NaN,NaN,NaN,-122.257814924
55079,NaN,2018-02-02T10:13:11.000,M;,NaN,T,37.8690965960001,UNIVERSITY AVE / SAN PABLO AVE,NaN,NaN,NaN,-122.292119433
55080,NaN,2018-01-30T23:35:40.000,NaN,NaN,1194,37.8606406525313,2700 BLOCK COLLEGE AVE,NaN,NaN,NaN,-122.253288840028
55081,NaN,2018-03-30T07:13:52.000,NaN,NaN,1194,37.86966138,1300 BLOCK UNIVERSITY AVE,NaN,NaN,NaN,-122.285193118
55082,NaN,2018-02-18T19:40:21.000,NaN,NaN,1196,37.895355453,"37.8953554530000000, -122.2735836910000000",NaN,NaN,NaN,-122.273583691

In [17]:
stops.head()

,:@computed_region_5s6d_2f32,call_date_time,dispositions,incident_number,incident_type,latitude,location,location_1_address,location_1_city,location_1_state,longitude
0,NaN,2015-01-26T00:10:00.000,M,2015-00004825,T,NaN,SAN PABLO AVE / MARIN AVE,SAN PABLO AVE / MARIN AVE,Albany,CA,NaN
1,NaN,2015-01-26T00:50:00.000,M,2015-00004829,T,NaN,SAN PABLO AVE / CHANNING WAY,SAN PABLO AVE / CHANNING WAY,Berkeley,CA,NaN
2,NaN,2015-01-26T01:03:00.000,M,2015-00004831,T,NaN,UNIVERSITY AVE / NINTH ST,UNIVERSITY AVE / NINTH ST,Berkeley,CA,NaN
3,NaN,2015-01-26T07:16:00.000,BM4ICN,2015-00004848,1194,NaN,2000 BLOCK BERKELEY WAY,2000 BLOCK BERKELEY WAY,Berkeley,CA,NaN
4,NaN,2015-01-26T07:43:00.000,BM4ICN,2015-00004849,1194,NaN,1700 BLOCK SAN PABLO AVE,1700 BLOCK SAN PABLO AVE,Berkeley,CA,NaN

In [7]:
def extract_location_data(data):
    try:
        if type(data) == str:
            if '/' in data: 
                return re.findall(r'(.*)/', data) + re.findall(r'/(.*)', data)
            else:
                return data
        elif ~np.isnan(data):
            return data
        else:
            return np.nan
    except:
        return np.nan

In [8]:
stops['location_1_address'][0]

NameError: name 'stops' is not defined

In [ ]:
def loc(streetA, streetB):
    res = requests.get('https://www.google.com/maps/place/'+streetA+' & '+streetB)
    return re.findall(r'll=(.*?)" item', res.text)[0].split(',')

In [ ]:
lst = []
for x in stops['location']:
    try:
        lst.append(extract_location_data(x))
    except:
        print(x)
        break

In [ ]:
len(stops)

In [ ]:
extract_address(stops[''])

In [ ]:
stops['location']