# Getting the Data

### Dependencies; uncomment the lines below if you haven't installed these packages

In [1]:
#pip install sodapy

SyntaxError: invalid syntax (<ipython-input-1-e69c07ae6d1e>, line 1)

In [3]:

import pandas as pd 
from sodapy import Socrata
client = Socrata("data.cityofberkeley.info",
                  'XaA4lIhDZ8AeqWrkT6qAaEgM9',            #refer to SLACK 
                  username="anaiyer@berkeley.edu",        #refer to SLACK 
                  password="CalCrime123")       #refer to SLACK 
arrests = pd.DataFrame.from_records(client.get('xi7q-nji6'))
inquiries = pd.DataFrame.from_records(client.get('bscu-qpbu'))

calls = pd.DataFrame.from_records(client.get('k2nh-s5h5'))
#stops = pd.DataFrame.from_records(client.get('6e9j-pj9p'))
#jail = pd.DataFrame.from_records(client.get('7ykt-c32j'))

## Arrests Dataset

In [4]:
arrests.head() #not very useful

,age,arrest_number,arrest_type,case_number,date_and_time,date_of_birth,eyes,hair,height,race,sex,statute,statute_description,statute_type,subject,weight
0,56,25944,COURT FILED (WARRANT),NaN,2019-09-30T18:33:00.000,06/21/1963,HAZ,BRO,5 Ft. 10 In.,White,Male,Warr - BPD (M);,Misdemeanor Warrant;,PC;,Marcus Ramon Peppard IV,160
1,35,25943,COURT FILED (WARRANT),NaN,2019-09-30T06:58:00.000,07/08/1984,BRO,BRO,5 Ft. 9 In.,White,Male,Warr - Out (M);,Outside Warrant Misdemeanor;,PC;,ERIC JOHN MEIER,140
2,54,26022,SUSP. OF FELONY,2019-00057135,2019-10-08T23:37:00.000,08/31/1965,BLK,BLK,5 Ft. 7 In.,Asian,Male,1203.2 - M; 487 (A);,Probation Violation : Misdemeanor; Grand theft...,PC;,STEVEN KYUDON CHAI,140
3,21,25886,COURT FILED (WARRANT),NaN,2019-09-21T20:52:00.000,07/14/1998,BRO,BLK,6 Ft. 0 In.,Other,Male,Warr - Out (F);,Outside Warrant Felony;,PC;,Avis LAMAR Ahmed,130
4,68,25888,COURT FILED (WARRANT),NaN,2019-09-22T21:00:00.000,08/07/1951,BRO,GRY,6 Ft. 0 In.,Black,Male,Warr - Out (F);,Outside Warrant Felony;,PC;,William Mark GRUNDY,170

### The arrests dataset contains no information on where the person was arrested; this makes it very difficult for us to use in a mapping software.

In [5]:
inquiries.head() #not very useful

,apn,case_id,case_status,city,date_closed,date_opened,neighborhood,object_type,request_category,request_detail,request_subcategory,state,street_address
0,NaN,121000135471,Closed,Berkeley,2013-04-30T09:28:00.000,2013-03-28T15:32:15.000,Berkeley,Unknown,Traffic and Transportation,Pay and Display Repair,Parking,CA,NaN
1,NaN,121000654188,Closed,Berkeley,2019-01-10T14:43:01.000,2019-01-09T11:57:00.000,Berkeley,Individual,General Questions/information,Miscellaneous Internet Request,Miscellaneous,CA,NaN
2,048A708602600,121000203815,Closed,Berkeley,2014-07-29T16:08:10.000,2014-07-17T09:43:09.000,Berkeley,Property,Refuse and Recycling,Residential Bulky Pickup,Residential,CA,65 ROBLE RD
3,NaN,121000152923,Closed,Berkeley,2013-08-19T16:17:24.000,2013-07-30T13:20:35.000,Berkeley,Individual,General Questions/information,Call Transfer - All Other Parties,Front Office,CA,NaN
4,NaN,121000655055,Closed,Berkeley,2019-01-14T16:11:33.000,2019-01-14T10:35:23.000,Berkeley,Individual,Other Account Services and Billing,Payment Collection - Marina,Marina,CA,NaN

In [6]:
calls.head()

,:@computed_region_3ini_iehf,:@computed_region_5bih_7r3y,:@computed_region_5s6d_2f32,:@computed_region_b3wi_w8ix,:@computed_region_fhmw_rucx,:@computed_region_u3y2_d2ws,:@computed_region_x3q3_gi3e,blkaddr,block_location,caseno,city,cvdow,cvlegend,eventdt,eventtm,indbdate,offense,state
0,2,13,1495,2,1745,2,7,ADELINE STREET & ASHBY AV,"{u'latitude': u'37.854732', u'human_address': ...",19020604,Berkeley,3,DISORDERLY CONDUCT,2019-04-17T00:00:00.000,23:18,2019-10-15T07:00:07.000,DISTURBANCE,CA
1,11,32,1496,1,1259,1,1,2000 UNIVERSITY AV,"{u'latitude': u'37.871828', u'human_address': ...",19090848,Berkeley,3,LARCENY,2019-04-17T00:00:00.000,17:00,2019-10-15T07:00:07.000,THEFT MISD. (UNDER $950),CA
2,7,23,1499,5,670,5,3,EUNICE STREET & WALNUT ST,"{u'latitude': u'37.88579', u'human_address': u...",19020585,Berkeley,3,LIQUOR LAW VIOLATION,2019-04-17T00:00:00.000,22:05,2019-10-15T07:00:07.000,ALCOHOL OFFENSE,CA
3,7,8,1501,5,1583,5,3,1400 SHATTUCK AV,"{u'latitude': u'37.881957', u'human_address': ...",19020563,Berkeley,3,LARCENY,2019-04-17T00:00:00.000,18:55,2019-10-15T07:00:07.000,THEFT MISD. (UNDER $950),CA
4,5,11,1502,8,453,8,8,900 HEINZ AV,"{u'latitude': u'37.853552', u'human_address': ...",19090807,Berkeley,3,BURGLARY - VEHICLE,2019-04-17T00:00:00.000,20:45,2019-10-15T07:00:07.000,BURGLARY AUTO,CA

In [29]:
calls.columns

Index([u':@computed_region_3ini_iehf', u':@computed_region_5bih_7r3y',
       u':@computed_region_5s6d_2f32', u':@computed_region_b3wi_w8ix',
       u':@computed_region_fhmw_rucx', u':@computed_region_u3y2_d2ws',
       u':@computed_region_x3q3_gi3e', u'blkaddr', u'block_location',
       u'caseno', u'city', u'cvdow', u'cvlegend', u'eventdt', u'eventtm',
       u'indbdate', u'offense', u'state'],
      dtype='object')

In [30]:
stops.columns

Index([u':@computed_region_5s6d_2f32', u'call_date_time', u'dispositions',
       u'incident_number', u'incident_type', u'location',
       u'location_1_address', u'location_1_city', u'location_1_state'],
      dtype='object')

In [31]:
stops.head()

,:@computed_region_5s6d_2f32,call_date_time,dispositions,incident_number,incident_type,location,location_1_address,location_1_city,location_1_state
0,NaN,2015-01-26T00:10:00.000,M,2015-00004825,T,SAN PABLO AVE / MARIN AVE,SAN PABLO AVE / MARIN AVE,Albany,CA
1,NaN,2015-01-26T00:50:00.000,M,2015-00004829,T,SAN PABLO AVE / CHANNING WAY,SAN PABLO AVE / CHANNING WAY,Berkeley,CA
2,NaN,2015-01-26T01:03:00.000,M,2015-00004831,T,UNIVERSITY AVE / NINTH ST,UNIVERSITY AVE / NINTH ST,Berkeley,CA
3,NaN,2015-01-26T07:16:00.000,BM4ICN,2015-00004848,1194,2000 BLOCK BERKELEY WAY,2000 BLOCK BERKELEY WAY,Berkeley,CA
4,NaN,2015-01-26T07:43:00.000,BM4ICN,2015-00004849,1194,1700 BLOCK SAN PABLO AVE,1700 BLOCK SAN PABLO AVE,Berkeley,CA

In [32]:
jail.head() #not very useful

NameError: name 'jail' is not defined

### The jail dataset contains no information on where the person was arrested; this makes it very difficult for us to use in a mapping software

# The datasets which we can actually use are: calls, stops